<div class="searchResult">
	<span class="websiteAdress">{{result.url}}</span>
	<h2 class="websiteLink">
		<a href="{{result.url}}">{{result.title}}</a>
	</h2>
	<p class="websiteDescription">{{result.description}}</p>
	<ul class="websiteSubLinks">
		{{#each result.links as |link|}}
		<li>
			<a href="{{link.url}}">{{link.title}}</a>
		</li>
		{{/each}}
	</ul>
</div>
