<nav class="navbar">
      <div class="logo">
        <img src="/img/google.png" alt="google logo" class="googleLogo" />
      </div>
      <form class="searchBarandButton">
        <input name="searchBar" type="searchbar" class="searchBar" />
        <button class="searchButton">Search</button>
      </form>
    </nav>
    <div class="mainContent">
      <span class="numResults">{{results.length}} Results</span>


			{{#each results as |result|}}
			<div class="searchResult">
				<span class="websiteAdress">{{result.url}}</span>
				<h2 class="websiteLink">
					<a href="{{result.url}}">{{result.maintitle}}</a>
				</h2>
				<p class="websiteDescription">{{result.description}}</p>
				<ul class="websiteSubLinks">
					{{#each result.sublinks as |sublink|}}
					<li>
						<a href="{{sublink.url}}">{{sublink.title}}</a>
					</li>
					{{/each}}
				</ul>
			</div>
			{{/each}}
		</div>



      <!-- <div class="searchResult">
        <span class="websiteAdress">www.w3school.com</span>
        <h2 class="websiteLink">
          <a href="https://www.w3schools.com/js/"
            >JavaScript Tutorial - W3Schools</a
          >
        </h2>
        <p class="websiteDescription">
          Well organized and easy to understand Web building tutorials with lots
          of examples of how to use HTML, CSS, JavaScript, SQL, PHP, Python,
          Bootstrap, Java
        </p>

        <ul class="websiteSubLinks">
          <li>
            <a href="https://www.w3schools.com/js/js_intro.asp"
              >JavaScript Introduction</a
            >
          </li>
          <li>
            <a href="https://www.w3schools.com/js/js_functions.asp"
              >JS Functions</a
            >
          </li>
          <li>
            <a href="https://www.w3schools.com/js/js_examples.asp"
              >JavaScript Examples</a
            >
          </li>
        </ul>
      </div>
      <div class="searchResult">
        <span class="websiteAdress">developer.mozilla.org</span>
        <h2 class="websiteLink">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            >JavaScript | MDN</a
          >
        </h2>
        <p class="websiteDescription">
          Javascript (JS) is a lightweight, interpreted, or just-in-time
          compiled programming language with first-class functions. While it is
          most well-known as the scripting language for Web pages
        </p>

        <ul class="websiteSubLinks">
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Expressions_and_Operators"
              >JavaScript Operator</a
            >
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Howto"
              >Javascript Code</a
            >
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript"
              >JavaScript Meaning</a
            >
          </li>
        </ul>
      </div>
      <div class="searchResult">
        <span class="websiteAdress">en.wikipedia.org</span>
        <h2 class="websiteLink">
          <a href="https://en.wikipedia.org/wiki/JavaScript"
            >JavaScript - Wikipedia</a
          >
        </h2>
        <p class="websiteDescription">
          Javascript often abbreviated JS, is a programming language that
          conforms to the ECMAScript specification. JavaScript is high-level,
          often just-in-time.
        </p>

        <ul class="websiteSubLinks">
          <li>
            <a href="https://en.wikipedia.org/wiki/JavaScript_syntax"
              >JavaScript Online</a
            >
          </li>
          <li>
            <a href="https://simple.wikipedia.org/wiki/JavaScript"
              >Javascript Definition</a
            >
          </li>
        </ul>
      </div>
    </div> -->
